.about {
  width: 100%;
  // 中の要素に応じて後から高さは調節するようにする!

  .sectionTitle {
    h2 {
      padding: 20px;
      border-bottom: 1px solid black;
    }
  }

  .sectionContents {
    margin-top: 40px;

    .profile {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .icon {
        width: 100%;
        display: flex;
        justify-content: center;
        img {
          border-radius: 35%;
        }
      }

      .content {
        width: 100%;

        .link {
          color: black;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
