.contact {
  width: 100%;
  // 中の要素に応じて後から高さは調節するようにする

  .sectionTitle {
    h2 {
      padding: 20px;
      border-bottom: 1px solid black;
    }
  }

  .sectionContents {
    margin-top: 40px;
    text-align: center;

    .contactTextArea {
      padding-top: 20px;

      .contactTextJa {
        font-size: larger;
      }
      .contactTextEn {
        font-size: medium;
      }
    }

    .contactForm {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .formItem {
        // width: 200px;
        max-width: 800px;
        padding-top: 12px;
        display: flex;
        flex-direction: column;
        align-items:flex-start;

        input {
          width: 500px;
          height: 25px;
        }
        textarea {
          resize: vertical;
          min-height: 150px;
          max-height: 300px;
          width: 500px;
        }

        button {
          width: 500px;
          height: 40px;
          background-color: gray;
          color: white;
          font-size: 20px;
          &:hover {
            background-color: white;
            color: gray;
          }
        }
      }
    }
  }
}
