.footer {
  padding: 20px;
  border-top: 1px solid black;
  // width: 100%;
  margin-top: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;

  .snsIcons {
    ul {
      display: flex;
      list-style: none;

      li {
        margin-right: 32px;
      }
    }
  }
}
